 {% extends "base.html" %}
 {% load static %}
 {% block content %}
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://source.unsplash.com/featured?technology" height="500px" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://source.unsplash.com/featured?technology" height="500px" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://source.unsplash.com/featured?technology" height="500px" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      {% comment %} about {% endcomment %}
      <div class="container py-5">
        <h1 class="text-center">About</h1>
        <p class="text-center">{% lorem 1 b random %} </p>
      </div>

      <div class="blog">
        <div class="container">
            <h1 class="text-center py-5">Blogs</h1>
            <div class="row mb-2">
              {% for i in blog %}
                <div class="col-md-6">
                  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                      <strong class="d-inline-block mb-2 text-primary">World</strong>
                      <h3 class="mb-0">{{i.title}}</h3>
                      <div class="mb-1 text-muted">{{i.created_at}}</div>
                      <p class="card-text mb-auto">{{i.short_desc}}</p>
                      <a href="{% url 'content' i.id %}" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                      <img class="bd-placeholder-img" width="200" height="250" src='media/{{i.thumbnail}}'>
    
                    </div>
                  </div>
                </div>
              {% endfor %}
{% endblock %}